.formContainer {
  max-width: 480px;
  padding-bottom: 12px;

  .title {
    text-align: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  .btn {
    margin-top: 24px;
    height: 48px;
    width: 100%;
  }
}